.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
	background-color: #32c5d2 !important;
	border-color: #32c5d2 !important;
}
.sweet-alert {
	z-index: 10000000 !important;
}
.sweet-overlay {
	z-index: 9999997 !important;
}
.img-responsive_2 {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.img_datatable {
    max-width: 75px;
}

.note-editor.note-frame.fullscreen {
    z-index: 9995;
}

.modal {
    overflow-y: auto;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal_1280 {
    max-width: 1280px;
}

.note-editor > .modal > .modal-dialog > .modal-content > .modal-body > .form-group {
    margin-top: 15px!important;
}

.note-editor > .modal > .modal-dialog > .modal-content > .modal-body > .checkbox {
    padding-top: 20px!important;
    padding-left: 20px!important;
}

.bianco { color: #FFF;  }

.font_size_18px { font-size: 18px; }
.font_size_80px { font-size: 80px; }

.input-icon.right.right_fix > i {
    left: 200px;
}

/*PULSANTI NELLA NAVBAR HEADER*/
.page-header.navbar .top-menu .navbar-nav>li.dropdown .conf{
	
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .conf >i, .page-header.navbar .top-menu .navbar-nav>li.dropdown .conf >.username{
	color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-menu{
	width: 230px;
}

.ticket, .ticket a{
	color:#ffffff;
}
.ticket:hover a, .ticket:focus a{
	color: #a4aebb !important;
	background-color: #3f4f62 !important;
}
/*PULSANTI NELLA NAVBAR HEADER*/

/*aggiunta questa proprietà perche con il menu fixed il footer ha bg bianco*/
.page-footer{
	background-color: inherit !important;
}
.page-footer .page-footer-inner {
    color: #98a6ba !important;
}

table.dataTable thead>tr>th.sorting {
    padding-right: 22px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 2px;
}

table.dataTable tbody td {
    padding: 8px 2px;
}

.select2-container--bootstrap .select2-selection--single {
    padding: 6px 24px 6px 2px;
}

.table thead tr th, .table thead tr th, .table td {
    font-size: 12px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    position: unset;
    bottom: 8px;
    left: 0;
    display: table;
    padding-top: 10px;
}

table.dataTable thead>tr>th.sorting {
    padding-right: 2px;
}

.table-responsive {
    overflow-x: inherit;
}

.dataTables_wrapper {
    overflow: hidden;
}

.table-scrollable {
    overflow-x: auto;
}

.dataTables_wrapper > .col-sm-12 {
    padding-right: 0px!important;
}

table.fixedLastTD td:last-child, table.fixedLastTD th:last-child {
    position: -webkit-sticky;
	position: sticky;
    right: 0;
    /*z-index: 1;*/
    background-color: #ffffff;
	padding: 8px 5px;
    border-left: 1px solid #dddddd;
}

table#datatable_varianti td:first-child, table#datatable_varianti th:first-child {
    position: -webkit-sticky;
	position: sticky;
    left: 0;
	background-color: #ffffff;
}

table#datatable_varianti thead tr th:first-child, table#datatable_varianti thead tr td:first-child{
    z-index: 1;
}

table#datatable_varianti tbody tr.odd td{
    background-color: #f9f9f9;
}

/*
.form-filter {
    padding-top: 16px;
    padding-bottom: 16px;
}
*/

.form-filter {
    min-width: 150px!important;
}

/*FORM CONFIGURAZIONE*/


.meno-padding-label {
    padding-top: 15px !important;
}
.no-padding-radio {
    padding: 0 !important;
}
.no-margin-bottom-radio-label {
    margin-bottom: 0 !important;
}

form.configurazione div.form-group:nth-of-type(odd), form.form_elemento div.form-group:nth-of-type(odd) {
    background-color: #fdfdfd;
}

.max_width_100{
    max-width:100%;
}

.input-xlarge_2{
    width:700px !important;
}

.meno_opacita{
    opacity: 0.6 !important;
    filter: alpha(opacity=60) !important;
}

.oscurato, .oscurato a {
    color: #AAAAAA;
}
.barrato{
    text-decoration: line-through;
}

.scroll-to-top>i {
	color: #42b2ff;
    font-size: 35px;
	opacity: 100;
}

.color {
    float: none;
    padding-left: 44px;
}

.nuovo_colore {
    position: absolute;
    z-index: 2;
    top: 18px;
    left: 18px;
    width: 28px;
    height: 28px;
    border: 1px solid #a3a5a7;
    cursor: text;
    padding: 0;
    margin: 0;
    display: inline-block;
}
/*FORM CONFIGURAZIONE*/

/*SOCIAL*/
.portlet-header{
	cursor:move;
}
.portlet-header i{
	margin-top:10px;
}
/*SOCIAL*/


/*DASHBOARD*/

.dashboard-stat .details {
    right: 15px;
    top: -20px;
}

.dashboard-stat .details .desc {
    font-size: 25px;
	font-weight: 400;
}

.dashboard-stat .details .number {
    font-size: 25px;
	font-weight: 400;
}

.dashboard-stat .visual > i{
	margin-left: -25px;
	line-height: 100px;
	opacity: 0.3!important;
}

.more-padding{
	padding: 12px 40px 15px 40px;
}

@media (min-width: 1200px){
	.container-dashboard{
		width: 1600px;
	}
	.dashboard-stat .details .desc {
		font-size: 20px;
		font-weight: 500;
	}
	
	.dashboard-stat .details .number {
		font-size: 25px;
		font-weight: 500;
	}
}

@media screen and (max-width: 991px){
	
	.dashboard-stat .details .desc {
		font-size: 20px;
		line-height: 1.2;
	}
	.dashboard-stat .details .number {
		font-size: 25px;
		line-height: 1.2;
	}
}

/*FINE DASHBOARD*/

/*ANGOLO MENU INFERIORE*/
.dropdown.dropup > .dropdown-menu:after,
  .dropdown-toggle.dropup > .dropdown-menu:after,
  .btn-group.dropup > .dropdown-menu:after {
    position: absolute;
	top: initial;
    bottom: auto;
    /*left: 155px;*/
    /*right: auto;*/
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
}

.dropdown > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .btn-group > .dropdown-menu:after {
    display: none !important;
	border-bottom: 0px;    
}

.dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
    display: none !important;
	border-bottom: 0px;    
}

/* FINE ANGOLO MENU INFERIORE */

/* ANGOLO MENU SUPERIORE */
.angle_up.dropdown > .dropdown-menu:after,
  .angle_up.dropdown-toggle > .dropdown-menu:after,
  .angle_up.btn-group > .dropdown-menu:after {
    position: absolute;
    top: -7px;
    left: 10px;
    right: auto;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
}


.angle_up.dropdown > .dropdown-menu:before,
  .angle_up.dropdown-toggle > .dropdown-menu:before,
  .angle_up.btn-group > .dropdown-menu:before {
    position: absolute;
    top: -8px;
    left: 9px;
    right: auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: '';
}

.angle_up.dropdown > .dropdown-menu,
  .angle_up.dropdown-toggle > .dropdown-menu,
  .angle_up.btn-group > .dropdown-menu {
	font-size: 12px;
	min-width: 165px;
	height: 25px;
}

.angle_up.dropdown > .dropdown-menu > li > a,
  .angle_up.dropdown-toggle > .dropdown-menu > li > a,
  .angle_up.btn-group > .dropdown-menu > li > a{
	padding: 3px 20px;
}

/*FINE ANGOLO MENU SUPERIORE*/

/* OPZIONE UNICA */

.opzione_unica{
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}
/* FINE OPZIONE UNICA */

.ordinamento {
    cursor: move;
}

.m-grid-col_no_sfondo_no_bordi {
    background: transparent!important;
    border: 0!important;
}

.dataTable {
    /*position: static!important;*/ /*RIMOSSO PER PROBLEMA ORDINAMENTO RIGHE DATATABLE*/
}

.datatable_riga_errore{
    background-color: #fbe1e3!important;
}

.datatable_riga_errore:hover {
	background-color: #faedee!important;
}

.no-sort {
    width: 21px;
}

/* CROP */
.rcrop-outer-wrapper{
    opacity: .75!important;
}
.rcrop-outer{
    background: #000!important;
}
.rcrop-croparea-inner{
    border: 1px dashed #fff!important;
}

.rcrop-handler-corner{
    width:12px!important;
    height: 12px!important;
    background: none!important;
    border : 0 solid #51aeff!important;
}
.rcrop-handler-top-left{
    border-top-width: 4px!important;
    border-left-width: 4px!important;
    top:-2px!important;
    left:-2px!important;
}
.rcrop-handler-top-right{
    border-top-width: 4px!important;
    border-right-width: 4px!important;
    top:-2px!important;
    right:-2px!important;
}
.rcrop-handler-bottom-right{
    border-bottom-width: 4px!important;
    border-right-width: 4px!important;
    bottom:-2px!important;
    right:-2px!important;
}
.rcrop-handler-bottom-left{
    border-bottom-width: 4px!important;
    border-left-width: 4px!important;
    bottom:-2px!important;
    left:-2px!important;
}
.rcrop-handler-border{
    display: none!important;
}

.clayfy-touch-device.clayfy-handler{
    background: none!important;
    border : 0 solid #51aeff!important;
    border-bottom-width: 6px!important;
    border-right-width: 6px!important;
}
/* CROP */

/* MULTISELECT */
.multiselect_elestic {
    width: 100%!important;
}

.ms-selected {
    background-color: #4D95DA;
    color: #fff!important;
}
/* MULTISELECT */

.form-group_fix > div {
    padding: 15px;
    border-left: 0px!important;
}

.mt-radio-list_2 {
	padding: 0px!important;
}

.pointer {
    cursor: pointer;
}

.irs-from, .irs-to, .irs-slider {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}

/* SELECT2 */
.select2-results__option {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* SELECT2 */

/* MOLTI A MOLTI E TABELLONE VARIANTI */
input.molti_a_molti_campo::-webkit-outer-spin-button,
input.molti_a_molti_campo::-webkit-inner-spin-button, 
#datatable_varianti input[type="number"]::-webkit-outer-spin-button, 
#datatable_varianti input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.molti_a_molti_campo[type="number"], 
#datatable_varianti input[type="number"] {
    -moz-appearance:textfield;
}
/* MOLTI A MOLTI E TABELLONE VARIANTI */

.control-label_2 {
    margin-top: 9px;
}

.mt-radio_2 {
    margin-top: 6px;
}

.input-icon_no_padding {
    padding-left: 10px!important;
    padding-right: 6px!important;
}

/* HOME PAGE */
.dashboard-stat.dashboard-stat-v2 .visual {
    padding-top: 10px;
    padding-left: 38px;
}

.dashboard-stat .visual > i {
    font-size: 60px;
}
/* HOME PAGE */

/* ERRORE TABS */
.nav-tabs > li.errore > a, .nav-tabs > li.errore > a:focus, .nav-tabs > li.errore > a:hover {
    color: #fff;
    background-color: rgb(231, 61, 74); 
}
/* ERRORE TABS */

/* GRAFICI */
.chart_test, .chart_test .amcharts-chart-div, .chart_test svg {
    overflow: unset!important;
}

.amcharts-chart-div a {
    display: none!important;
}
/* GRAFICI */

@media screen and (max-width: 991px){
    #logo_chiuso{
        display: none!important;
    }

    /*DASHBOARD*/
    .dashboard-stat .details .desc {
        font-size: 25px;
        line-height: 1.2;
    }
    
    .dashboard-stat .details .number {
        font-size: 25px;
        line-height: 1.2;
    }
    /*FINE DASHBOARD*/
}

/* DRAG AND DROP */
.sortable {
	width: 100%;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	margin-right: 10px;
}
.sortable li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	width: 100%;
	border: 1px solid #ccc;
	background: #fafafa;
}
.sortable li:hover{
	background-color: #FFFFFF;
	color: #FF0004;
	cursor: all-scroll;
}
/* DRAG AND DROP */

/* RIGA SELEZIONATA */
.riga_selezionata, .table-hover > tbody > tr.riga_selezionata:hover, .table-hover > tbody > tr.riga_selezionata:hover > td {
    background-color: #e6f7fb!important;
}

table.dataTable > tbody > tr.riga_selezionata > td.sorting_1,
table.dataTable > tbody > tr.riga_selezionata > td.sorting_2,
table.dataTable > tbody > tr.riga_selezionata > td.sorting_3 {
    background: none!important;
}
/* RIGA SELEZIONATA */

.note.note-danger {
    background-color: #f0868e!important;
    border-color: #ffaab6!important;
    color: #ffffff!important;
}

.my-popover{
	width:400px;
}


.dropdown-menu > li > a {padding: 8px 8px!important;}
.dropdown-menu:after, .dropdown-menu:before{content:none!important;}
.dropdown-submenu > .dropdown-menu{ top:0px!important;}

div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_filter label{ text-align: center; width: 95%!important; }
div.dataTables_wrapper div.dataTables_filter input{ width: 88%!important; }


/* COUPON */
.datatable_riga_errore td:first-of-type{text-align: center;}
/* COUPON */

/* DIRECTORY LISTER */
#directory-list-header {
    font-weight: bold;
    padding: 10px 15px;
}

#directory-listing li {
    position: relative;
}

#directory-listing li .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#directory-listing li .file-name i {
    color: #555;
}
/* DIRECTORY LISTER */
.stile_select{z-index: 999999!important}

.anteprima_font{
	margin-bottom: 0 !important;
    margin-top: 10px !important;
	font-size:20px;
}

/*CERCA CONFIGURAZIONE*/

#result {
   position: absolute;
   width: 100%;
   cursor: pointer;
   overflow-y: auto;
   max-height: 400px;
   box-sizing: border-box;
   z-index: 1001;
   box-shadow: 0px 3px 5px #a5a5a5;
}
.link-class:hover{
   background-color:#f1f1f1;
}

.content_txtSearch{
	padding:0;
	margin: 10px 0px;
}

#genera_configurazione{
	margin: 10px 0px 10px 10px;
}

/*CERCA CONFIGURAZIONE*/

/* CONFIGURAZIONE HOME MF */
.my-tabs-center > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.my-tabs-center {
    text-align:center;
}
/* CONFIGURAZIONE HOME MF */

.box_info_news_evidenza:hover{
	    cursor: pointer;
}


#info_indirizzi .selected, #info_spese_vendita .selected, #info_metodi_pagamento .selected{
	background-color: #e5f4ff!important;
    border-color: #3598dc!important;
}

.box_ordini_offline{
	padding:20px;
	border:2px solid #e6e6e6;
	margin:10px
}

#form_config_gestione_indirizzi .form-row{background-color: #fdfdfd!important;}
.swal-wide{ width:850px !important;}

#timer{    
   padding-left: 0px;
   text-align:center;
}
#timer li{
    display: inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
    color:#000000;
}

#timer li span{
    display: block;
    font-size: 4.0rem;
    height: 56px;
    text-align: center;
}


.titolo_timer {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

/*.box_info_news_evidenza .portlet{
	background-color: rgb(255 0 0 / 14%);
	border: 2px solid #f00 !important;
}*/

@media screen and (max-width: 1500px){
	#timer li span {
     font-size: 2.5rem;
     height: 36px;
	}
}